</br>
<h1>Blocitoff</h1>
 <div class='row'>
 <div class='col-md-10'>
   <h3>Details</h3>
   <p><b>Name:</b> <%= @user.name %></p>
   <p><b>Email:</b> <%= @user.email %></p>
 </div>
</div>
<hr>
<h3><%= @items.count %> To do items</h3>
  <div>
  <%= render partial: @items %>
  </div>
  <div>
  <%= render partial: 'items/form', locals: {user: @user, item: @item} %>
   </div>
</div>